# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
.gitmodules
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# Appcode
.idea

# Cocoapods
/Pods

# Carthage
Carthage/Checkouts
Carthage/Build

# Jazzy
docs/

# OSX
.DS_Store

# Project
/*.xcworkspace
/*.xcodeproj
Generated
Instances
/Dependencies





*.zip

